<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030623393416-pn7ne5ae2i7febpcoje5fqtdm0hical9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030623393416-pn7ne5ae2i7febpcoje5fqtdm0hical9</string>
	<key>API_KEY</key>
	<string>AIzaSyB12FRJwTRX1PdTp-UnnJfIARrDoB0wf44</string>
	<key>GCM_SENDER_ID</key>
	<string>1030623393416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insanecoder.learnJavaProgram</string>
	<key>PROJECT_ID</key>
	<string>javaprogramming-6425c</string>
	<key>STORAGE_BUCKET</key>
	<string>javaprogramming-6425c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030623393416:ios:a34d0da494e7083e40113d</string>
</dict>
</plist>